@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";



.accordion-wcb-container{
  width: 100%;
  // background-color: $blue;
  font-size: 1.25rem;

  .accordion-box{
    display: block;
    width: 100%;
    button.accordion-button{
      display: table;
      vertical-align: middle;
      width: 100%;
      text-align: left;
      padding: 15px 15px 15px 25px;
      position: relative;
      &:after{
        font-size: 2.5rem;
        content: '\002B';
        color: #000;
        font-weight: bold;
        position: absolute;
        right:2%;
        top:4%;
      }
    }
    button.active{
      @extend %btn-mumtaaz-active_n_hover;
      &:after{;
        content: '\2212';
      }
    }
    .accordion-panel{
      //ref height animation stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
      transition: max-height 0.2s ease-out;
      max-height: 0;
      overflow: hidden;
      box-sizing: content-box;
      // border-bottom:  $border-mumtaz;
      border-left:  $border-mumtaz;
      border-right:  $border-mumtaz;
      table{
        //biar full
        width: 100.1%;
        // height: 1000.1%;
        td{
          vertical-align: baseline;
          text-align: left;
          &:first-child{
            width: 3%;
          }
          &:nth-child(2){
            width: 47%;
          }
          &:nth-child(3){
            width: 30%;
          }
          &:first-child{
            width: 20%;
          }
        }
      }
      table, td, th{
        border-bottom:  $border-mumtaz;
        padding: 15px 0px 15px 25px;
      }
      tr{
        td:first-child{
          padding-left: 70px;
        }
      }

    }
  }
}
