@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";


.card-partner{
  // padding-top:5%;
  border-radius: $prop-card_radius;
  @include box-shadow(2);
  margin-bottom: 30px;
  .card-img{
    padding: 10% 10% 5%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    img{
      display: block;
      height: 100%;
      object-position: 10% 50%;
      object-fit: cover;
      width: 80%;
      max-height: 100%;
      margin: auto;
      vertical-align: middle;
    }
  }
  .partner-name{
    font-size: 2rem;
    margin-bottom: 5%;
    font-weight: bolder;
  }
  .partner-desc{
    font-size: 1.25rem;
  }
  .card-content{
    padding: 0% 10% 10%;
    font-size: 1.15rem;
  }
  font-size: 1.15rem;
}
.card-wcb-vertical{
  border-radius: $prop-card_radius;
  @include box-shadow(2);
  // padding: 3%;
  margin: 30px 20px;
  font-size: 1.25rem;
  .card-img{
    margin-bottom: 20px;
    height: 242px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding: 20px 15px;
    img{
      display: inline-block;
      height: 100%;
      object-position: 10% 50%;
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      margin: auto;
      vertical-align: middle;
    }
  }
  .card-desc{
    margin-left: 10%;
    padding: 0 3%;
    margin-bottom: 30px;
  }
  .card-info{
    padding: 0 3% 5% ;

    i,p{
      display: inline;
      vertical-align: middle;
    }
    p{
      margin-left: 3%;
    }
    i{
      color: $grey-400;
    }
  }

}
.card-wcb {
  border-radius: $prop-card_radius;
  @include box-shadow(2);

  //atribut asli card
  position: relative;
  @include disp-flex;
  min-width: 0;
  padding: 5%;
  font-size: 16px;
  word-break: break-word;
  hyphens:auto; //striep untuk lanjut kata

  justify-content: flex-start;
  background-color: #fff;
  align-items: center;
  // align-content: flex-start;
  // text-align: left;
  cursor: pointer;
  .card-icon {
    flex: 1 4 30%;
    // max-height: 100px;
    max-width: 120px;
    height: 100px;
    img{
      display: block;
      max-width: 120px;
      max-height: 100px;
      margin: 0 auto;

    }
  }
  .card-desc-left, .card-desc-right {
    flex: 5 4 70%;
    p{
      margin: 0;
    }
  }

  .card-desc-left {
    padding-right: 4%;
    text-align: right;
    @include for-size(tablet-portrait-down){
      // background-color: rgb(72, 111, 75);
      text-align: left;
      order: 2;
      padding-right: 0;
      padding-left:4%;
    }

  }
  .card-desc-right {
    padding-left: 4%;
    text-align: left;

  }
  &:hover{
    background-color: $card-color-hover;
  }

  @include for-size(tablet-portrait-down){
    font-size: 1.15rem;
  }
}
