@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";


.form-group-mumtaaz{
  display: block;
  width: 100%;
  font-size: 1.15rem;
  margin: 18px 0;
  box-sizing: border-box;
  height: 32px;
  input.form-mumtaaz-control, textarea.form-mumtaaz-control{
    box-sizing: border-box;
    -webkit-transition : border-color 200ms ease-out;
    -moz-transition : border-color 200ms ease-out;
    -o-transition : border-color 200ms ease-out;
    transition : border-color 200ms ease-out;
    border: 0;
    // background-color: rgb(81, 112, 37);
    border-bottom:1px solid #000;
    width: 100%;
    padding: 5px;
    font-weight: lighter;
    // transition: all 0.3s ease-out;
    &::placeholder{
        color: $input-placeholder-color;

    }
    &:focus{
      border-bottom: $input-border-focus;
    }

  }
  textarea.form-mumtaaz-control{
    height: 72px;
  }

}
