@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";


.beranda-background-container{
  @include bg-img('../img/profil.jpg',$size: cover , $position:center);
  height: 100%;
  // height: 700px
  @include box-shadow(4);
  // background-origin: content-box;
  @include for-size(phone-only){
    height: 252px;
    margin-bottom: 20px;
  }
}

.beranda-content-container{
  position: relative;
}

.beranda-content-text{
  // @extend %font-content-beranda;
  font-size: $font-size-beranda;
  word-break: break-word;
  text-align: justify;
  hyphens:auto; //striep untuk lanjut kata
  margin-bottom: 60px;
  @include for-size(phone-only){
    font-size: $font-size-phone;
  }
}

.beranda-button-overlap{
  position: absolute;
  bottom: -85px;
  @include for-size(phone-only){
    // display: inline-block !important;
    // // width: 50%;
    font-size: 1.15rem;
    // margin: 0 auto;
    padding: 10px;
    // // text-align: center;
  }
}

.container-card-lingkup{
  // max-height: 700px;
  // background-color: rgb(105, 129, 250);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
  text-align: center;
  .bulet-bulet{
    &::before{
      content: '\26AC';
      font-size: 5rem;
    }
    position: absolute;
    top: 10%;
    left: 45.5%;
    height: 100px;
    width: 100px;
    background-color: rgb(249, 152, 50);
    // display: block;
    font-size: 100px;
  }
}


.section-full_page_bg{
  //css filter only background not the content ref : https://stackoverflow.com/questions/20411257/css-blur-on-background-image-but-not-on-content/20411343
  .beranda-the-background{
    @include bg-img('../img/beranda-top.jpg',$size: cover, $position:0 0);
    // -webkit-filter: opacity(30%); /* Safari */
    filter: brightness(40%);
    // filter: opacity(70%);
  }
}

.beranda-ukuran-card{
  width: 44%;
  margin: 10px;
  // display: inline-block;
  @include for-size(tablet-portrait-down){
    width: 100%;
  }
}

#beranda-footer{
  background-color: $content-bg-white;
  padding: 50px 0 30px;
  text-align: center;
  font-size: 1.15rem;

  .footer-main_heading{
    font-weight: bold;
  }
  img{
    max-width: 500px;
    margin: 80px 0;
    @include for-size(phone-only){
      margin: 30px auto;
      max-width: 258px;
    }
  }
  .section-footer{
    width: 40%;
    margin: 0 auto;
    h1, h2, h3, h4, h5, h6{
      margin-bottom: 20px;
    }
    @include for-size(phone-only){
      width: 100%;
    }

  }
  li{
    list-style: none;
    display: inline;
    &::after{
      content: '|';
      margin-left: 4px;
    }
    &:last-child:after{
      content: '';
    }
  }
  a{
    &:hover{
      color: $font-link_special-color;
    }
  }
  .kantor-perwakilan{
    width: 50%;
    @include for-size(phone-only){
      width: 100%;
    }
  }

  .footer-separator{
    margin: 50px auto 30px;
    width: 20%;
    border-bottom: 1px solid black;
    @include for-size(phone-only){
      width: 50%;
      margin: 40px auto 20px;
    }
  }

  .footer-copyright{
    margin-top: 70px;
    p{
      margin-bottom: 5px;
    }
  }
  .link-developer{
    color: $font-link_special-color;

  }

  @include for-size(phone-only){
    font-size: 1rem;
    ul{
      padding: 0;
    }
    h3{
      font-size: 1.2rem;
    }
  }
}
